html
{
    font-family: 'Open Sans', sans-serif;
}

.divPrincipal{
    margin-top: 2em;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
} 
a
{
    color: black;
    text-decoration-line: none;
}
b
{
    color: red !important;
}
a:hover
{
    text-decoration-line: none;
}

h4, h1, p, h3
{
    font-weight: lighter;
}
h1
{

    font-size: 4em;
}
h3
{
    font-size: 1.5rem;
}
h4
{
    font-size: 1.1rem;
}